<!DOCTYPE html>
<html>
<head>
    <title>Peticion de plan de viaje</title>
</head>
<body>
<form method="get" action="/stop">
    <h3>Preferencias de transporte</h3>
    <p><label>Ciudad de origen</label> </p>
    <select name="ciudadOrigen" >
        {% for t in cities %}
        <option value={{t}}>{{t}}</option>
        {% endfor %}
        <option value=BCN>Barcelona</option>
        <option value=MDR>Madrid</option>
        <option value=LDN>London</option>
    </select>
    <p><label>Ciudad de destido</label> </p>
    <select name="ciudadDestino" >
        {% for t in cities %}
        <option value={{t}}>{{t}}</option>
        {% endfor %}
        <option value=BCN>Barcelona</option>
    </select>
    <button method="get" action="/stop">STOP</button>
    </form>
</body>