<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ofertas Disponibles</title>
<meta http-equiv="refresh" content="20">
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
<form action="/checkout", method="post">

<h1>Ofertas de alojamientos</h1>
<p></p>
Total de alojamientos encontrados = {{alojamientos|length}}
<p></p>
<table id="alojs">
    <tr>
        <th>Seleccionar hotel</th>
        <th>Nombre del hotel</th>
        <th>Id del hotel</th>
        <th>Valoración del hotel</th>
        <th>Dirección</th>
        <th>Descripción de la habitación</th>
        <th>Adultos</th>
    </tr>
    {% for singleAlojamiento in alojamientos %}
    <tr>
        <td><input type="radio" name="alojamientoSeleccionado" value={{singleAlojamiento[0]}} required/> {{singleAlojamiento[7]}} €</td>
        <td>{{singleAlojamiento[1]}}</td>
        <td>{{singleAlojamiento[2]}}</td>
        <td>{{singleAlojamiento[3]}}</td>
        <td>{{singleAlojamiento[4]}}</td>
        <td>{{singleAlojamiento[5]}}</td>
        <td>{{singleAlojamiento[6]}}</td>
        <!-- <td>{{singleAlojamiento[6]}}</td> -->
     </tr>
    {% endfor %}
</table>


<h1>Ofertas de transporte</h1>
<p></p>
Total de transportes encontrados = {{transportes|length}}
<p></p>
<table id="trans">
    <tr>
        <th>Seleccionar vuelo</th>
        <th>Hora de salida</th>
        <th>Hora de llegada</th>
        <th>Código de la compañía</th>
        <th>Número de vuelo</th>
    </tr>
    {% for singleTransporte in transportes%}
    <tr>
        <td><input type="radio" name="transporteSeleccionado" value={{singleTransporte[0]}} required/> {{singleTransporte[5]}} €</td>
        <td>{{singleTransporte[1]}}</td>
        <td>{{singleTransporte[2]}}</td>
        <td>{{singleTransporte[3]}}</td>
        <td>{{singleTransporte[4]}}</td>
     </tr>
    {% endfor %}
</table>

    <p>
        <button type="submit">Comprar</button>
    </p>
</form>

</body>
</html>